html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* NavBar style starts */
nav{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    background-color: white;
    /* position: fixed; */
}

.casLogoDiv{
    width: 30%;
    margin-left: 10px;
}

#casLogo{
    width: 110px;
    height: auto;
}
#gitamLogo{
    width: 160px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
}

.title1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

nav a{
    text-decoration: none;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: black;
    margin-left: 40px;
    font-size: 18px;
}
nav a:hover{
    color: #8C2B30;
}

.links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 65%;
}

/* Navbar styles ends */

/* page content starts */
#about{
    background-color: #8C2B30;
    padding: 100px;
}


.p1{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: white;
    font-size: 18px;
    text-align: left;
}

.btn-1{
    background-color: #8C2B30;
    color: white;
    margin-top: 30px;
    padding: 10px 20px;
    border: 2px solid white;
    border-color: white;
    border-radius: 100px;
    font-size: 16px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: 600;
}

.btn-1:hover{
    background-color: white;
    color: #8C2B30;
    cursor: pointer;
    transition-duration: 0.5s;
}

/* images section starts */

.coverimagesDiv{
    width: 100%;
}

.coverImages{
    width: 100%;
    height: auto;
}
/* about section ends here */

/* projects section starts here */
#projectDiv{
    margin-top: 40px;
}

h2{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    /* color: #8C2B30; */
}

.projectCardsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.projectCard{
    padding: 20px;
    margin: 10px;
    background-color: #8C2B30;
    border-radius: 10px;
    color: white;
    width: 380px;
}

.cardImages{
    width: 300px;
    height: auto;
    /* align-self: center; */
}

.projectCardHeading{
    font-size: 24px;
    margin-top: 10px;
}

.projectDesc{
    margin-top: 7px;
    opacity: 70%;
}