html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* NavBar style starts */
nav{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    background-color: white;
    position: sticky;
}

.casLogoDiv{
    width: 30%;
    margin-left: 10px;
}

#casLogo{
    width: 110px;
    height: auto;
}
#gitamLogo{
    width: 160px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
}

.title1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

nav a{
    text-decoration: none;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: black;
    margin-left: 40px;
    font-size: 18px;
}
nav a:hover{
    color: #8C2B30;
}

.links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 65%;
}

/* Navbar styles ends */

/* page content starts */
#about{
    background-color: #8C2B30;
    padding: 100px;
}


.p1{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: white;
    font-size: 18px;
    text-align: left;
}

.btn-1{
    background-color: #8C2B30;
    color: white;
    margin-top: 30px;
    padding: 10px 20px;
    border: 2px solid white;
    border-color: white;
    border-radius: 100px;
    font-size: 16px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: 600;
}

.btn-1:hover{
    background-color: white;
    color: #8C2B30;
    cursor: pointer;
    transition-duration: 0.5s;
}

/* images section starts */

.coverimagesDiv{
    width: 100%;
}

.coverImages{
    width: 100%;
    height: auto;
}
/* about section ends here */

/* projects section starts here */
#projectDiv{
    margin-top: 40px;
}

h2{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #8C2B30;
    text-decoration-thickness: 5px; 
    /* color: #8C2B30; */
}

.projectCardsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.projectCard{
    padding: 20px;
    margin: 10px;
    background-color: #8C2B30;
    border-radius: 10px;
    color: white;
    width: 380px;
}

.cardImages{
    width: 300px;
    height: auto;
    /* align-self: center; */
}

.projectCardHeading{
    font-size: 24px;
    margin-top: 10px;
}

.projectDesc{
    margin-top: 7px;
    opacity: 70%;
}

/* workshops section starts */
#workshopDiv{
    margin-top: 40px;
}

.workshopCardsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workshopCard{
    /* padding: 30px; */
    width: 80%;
    background-color: #8C2B30;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
}

.workshopCardImages{
    width: 350px;
    height: auto;
    border-radius: 10px 0px 0px 10px;
}

.workshopDescDiv{
    margin-left: 10px;
    padding: 10px;
}

.btn2{
    background-color: #8C2B30;
    color: white;
    margin-top: 30px;
    padding: 10px 20px;
    border: 2px solid white;
    border-color: white;
    border-radius: 100px;
    font-size: 16px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: 500;
}
.btn2:hover{
    background-color: white;
    color: #8C2B30;
    transition-duration: 0.5s;
    cursor: pointer;
}

.t1{
    color: black;
    font-size: 22px;
    margin-top: 10px;
}


/* team div section starts here  */
#teamDiv{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* director card starts */
.directorCardDiv{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
}
.directorCardDiv:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



#imgDirector{
    width: 200px;
    height: 180px;
    border-radius: 50%;
    margin-right: 40px;
}

.DCardRight{
    line-height: 1.6;
}
.t3{
    opacity: 60%;
}

.card-btn{
    padding: 8px 16px;
    background-color: white;
    border: 2px solid #6F1AB6;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 30px;
    color: #6F1AB6;
}
.card-btn:hover{
    background-color: #6F1AB6;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}

/* team cards starts here  */
.teamMembersDiv{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.teamCard{
    padding: 20px;
    margin: 15px;
    background-color: white;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;


}
.teamCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* card moving code */
.teamCard:not(:first-child) {
    margin-left: -2rem;
  }
  .teamCard:not(:last-child):hover,
  .teamCard:not(:last-child):focus-within {
    transform: translateY(-1rem);
    ~ .teamCard {
      transform: translateX(2rem);
    }
  }
/* resource -- https://codepen.io/chriscoyier/pen/dLeevK */



.teamPic{
    width: 100px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px;
}

.teamDetailsDiv{
    line-height: 1.4;
}

.teamName{
    font-size: 20px;
}

.teamPosition{
    opacity: 60%;
}